@mixin sitefont {
    font-size: $fsize;
    font-family: $ffamily;
    color: $black;
    line-height: $fsize * 2;
    font-weight: $fweight;
}

@mixin borderradius {
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

@mixin shadow-center {
    box-shadow: 0 0 3px $gray;
    -moz-box-shadow: 0 0 3px $gray;
    -webkit-box-shadow: 0 0 3px $gray;
    -ms-box-shadow: 0 0 3px $gray;
    -o-box-shadow: 0 0 3px $gray;
}

@mixin shadow-bottom {

    box-shadow: 0 2px 2px $gray;
    -moz-box-shadow: 0 2px 2px $gray;
    -webkit-box-shadow: 0 2px 2px $gray;
    -ms-box-shadow: 0 2px 2px $gray;
    -o-box-shadow: 0 2px 2px $gray;
}

@mixin shadow-top {
    box-shadow: 1px 0 2px $gray;
    -moz-box-shadow: 1px 0 2px $gray;
    -webkit-box-shadow: 1px 0 2px $gray;
    -ms-box-shadow: 1px 0 2px $gray;
    -o-box-shadow: 1px 0 2px $gray;
}


@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

@mixin objectfit {
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    -o-object-fit: cover;
}

@mixin position-all {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}




//mobile mixin
@mixin mob {
    @media(min-width:#{$mobile-width}) and (max-width:#{$mobilelandscape-width - 1}) {
        @content;
    }
}

//mixin mobile landscape
@mixin moblscape {
    @media (min-width:#{$mobilelandscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}

//mixin tablet
@mixin tab {
    @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1}) {
        @content;
    }
}

//mixin laptop

@mixin lap {
    @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width -1}) {
        @content;
    }
}