.wizard > .steps .current-info, .wizard > .steps .number {
    display: none;
}


form {	
	align-self: center;
}
.form-header {
	text-align: center;
	a {			
		display: inline-block;
		padding: 5px 15px;
		border-radius: 5px;	
	}
}

#wizard {
	@include shadow-center;
	border-radius: 10px;
	padding:35px;
    position: relative;
    margin-top:25px;	
}
.wizard{
	height:580px;	

    section{        
        h5{
            font-size:$fsize + 5;
            padding-bottom:18px;
        }
    }

    .content {
		height:400px;
		overflow-y:auto;
		
    }
}
.wizard > .steps {
	ul {

        li{
            a{
                display:none;
            }
        }
		content: "";
		width: 60%;
		height: 12px;
		background:$red;
		border-radius: 6px;
		position: absolute;
		left: 50%;
		top: -30px;
		transform: translateX(-50%);
		&:before {
			content: "\f00c";
			position: absolute;
			font-size: 20px;
			font-family: 'icomoon' !important;
			bottom: 5px;
			left: 20%;
            transition: all 0.5s ease;
            z-index: 99;
		}
		&:after {
			content: "";
			width: 25%;
			height: 12px;
			background: rgba(255,255,255,0.8);
			border-radius: 6px;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.5s ease;
		}
		&.step-2 {
			&:before {
				left: 45%;
				transition: all 0.5s ease;
			}
			&:after {
				width: 50%;
				transition: all 0.5s ease;
			}
		}
		&.step-3 {
			&:before {
				left: 70%;
				transition: all 0.5s ease;
			}
			&:after {
				width: 75%;
				transition: all 0.5s ease;
			}
        }
        &.step-4 {
			&:before {
				left: 95%;
				transition: all 0.5s ease;
			}
			&:after {
				width: 100%;
				transition: all 0.5s ease;
			}
		}
		
	}
}

//wreckmy car steps 
.wreckmycar > .steps {
	ul {

        li{
            a{
                display:none;
            }
        }
		content: "";
		width: 60%;
		height: 12px;
		background:$red;
		border-radius: 6px;
		position: absolute;
		left: 50%;
		top: -30px;
		transform: translateX(-50%);
		&:before {
			content: "\f00c";
			position: absolute;
			font-size: 20px;
			font-family: 'icomoon' !important;
			bottom: 5px;
			left: 40%;
            transition: all 0.5s ease;
            z-index: 99;
		}
		&:after {
			content: "";
			width: 45%;
			height: 12px;
			background: rgba(255,255,255,0.8);
			border-radius: 6px;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.5s ease;
		}
		&.step-2 {
			&:before {
				left: 95%;
				transition: all 0.5s ease;
			}
			&:after {
				width: 100%;
				transition: all 0.5s ease;
			}
		}		
		
	}
}

//wreckmy car steps ends 

.threesteps > .steps {
	ul {

        li{
            a{
                display:none;
            }
        }
		content: "";
		width: 60%;
		height: 12px;
		background:$red;
		border-radius: 6px;
		position: absolute;
		left: 33.3%;
		top: -30px;
		transform: translateX(-33.3%);
		&:before {
			content: "\f00c";
			position: absolute;
			font-size: 20px;
			font-family: 'icomoon' !important;
			bottom: 5px;
			left: 26%;
            transition: all 0.5s ease;
            z-index: 99;
		}
		&:after {
			content: "";
			width: 30%;
			height: 12px;
			background: rgba(255,255,255,0.8);
			border-radius: 6px;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.5s ease;
		}
		&.step-2 {
			&:before {
				left: 62%;
				transition: all 0.5s ease;
			}
			&:after {
				width: 66.6%;
				transition: all 0.5s ease;
			}
		}	
		&.step-3 {
			&:before {
				left: 95%;
				transition: all 0.5s ease;
			}
			&:after {
				width: 100%;
				transition: all 0.5s ease;
			}
		}	
		
	}
}

//three steps 

//three steps ends 
.form-row {
	display: flex;
	margin-bottom: 29px;
	align-items: center;
	&:last-child {
		margin-bottom: 0;
	}
	label {
		width: 34.9%;
		margin-right: 40px;
	}
	.form-holder {
		width: 65.1%;
	}
}
.form-holder {
	position: relative;
	i {
		position: absolute;
		bottom: 7px;
		right: 20px;
		font-size: 25px;
	}
}

.actions {
	ul {
		display: flex;
		margin-top: 65px;
		justify-content: space-between;
	}
	li {
		a {
			padding: 0;
			border: none;
			display: inline-flex;
			height: 54px;
			width: 180px;
			letter-spacing: 1.3px;
			align-items: center;
			background: $red;			
			cursor: pointer;
			position: relative;
			padding-left: 34px;
			text-transform: uppercase;
			color: #fff;
			border-radius: 27px;
			-webkit-transform: perspective(1px) translateZ(0);
			transform: perspective(1px) translateZ(0);
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			&:before {
				content: "\f178";
				font-size: 18px;
				position: absolute;
				top: 13px;
				right: 34px;
				font-family: 'icomoon' !important;
				-webkit-transform: translateZ(0);
  				transform: translateZ(0);
			}
			&:hover {
				background: $gray;
				&:before {
					-webkit-animation-name: hvr-icon-wobble-horizontal;
					animation-name: hvr-icon-wobble-horizontal;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-timing-function: ease-in-out;
					animation-timing-function: ease-in-out;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
				}
			}
		}
		&[aria-disabled="true"] {
			a {
			    opacity: 0;
			    transition: all 0.3s;
			}
		}
		&:first-child {
			a {
				width: 136px;
				background: $white;
				color: $red;				
                padding-left: 57px;
                border:1px solid $gray;
				&:before {
					content: "\f177";
					left: 32px;
					font-size: 18px;
				}
				&:hover {
                    background: $red;
                    color:$white;
				}
			}
		}
		&:last-child {
			a {
				width: 154px;
			}
		}
	}
}
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


@media (max-width: 1500px) { 
	form {		
		align-self: flex-start;
	}
	.wrapper {
		height: auto;
	}

	
}
@media (max-width: 1199px) {
	.wrapper {
		height: 100vh;
		width: auto;
	}
	.image-holder {
		align-self: center;
		img {
			transform: translateY(40px);
		}
	}
	form {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 50px;
		padding-right: 50px;
		align-self: center;
	}
}
@media (max-width: 991px) {
	.wrapper {
		justify-content: center;
	}
	.image-holder {
		display: none;
	}
	form {
		width: auto;
	}
}
@media (max-width: 767px) {
	body {
		height: auto;
	}
	.wrapper {
		height: auto;
		padding: 30px 20px;
	}
	#wizard {
	    border: none;
	    display: flex;
	    flex-direction: column;
	    background: none;
	}
	form, #wizard {
		padding: 0;
	}
	h3 {
		margin-bottom: 30px;
	}
	.form-row {
		display: block;
		label {
			margin-bottom: 29px;
			display: block;
		}
		label, .form-holder {
			width: 100%;
		}
	}
	.checkbox-circle {
		display: block;
	}
	.wizard > .steps {
		order: 3;
		margin-top: 60px;
		margin-bottom: 20px;
		ul {
			position: static;
			transform: translateX(0);
			width: 100%;
		}
	}
	.actions {
		ul {
			flex-direction: column;
			align-items: flex-end;
			margin-top: 0;
		}
		li {
			a {
				height: 44px;
				&:before {
					top: 13px;
				}
			}
			&:first-child {
				a {
					margin-bottom: 20px;
				}
			}
		}
	}
}

#showreply{
	display:none;
}




