
$red:#333;
$black:#000000;
$gray:#b2b2b2;
$white:#ffffff;
$fweight:400;
$green:green;
$blue:#05a7f8;
$darkblue:#2e60f7;


$fsize:15px;
$ffamily:Be Vietnam,
sans-serif;

//responsive variables
$mobile-width:320px; //mobile minmum width
$mobilelandscape-width:576px; // Small devices (landscape phones, 576px and up)
$tablet-width:768px; // Medium devices (tablets, 768px and up)
$laptop-width:992px; // Large devices (desktops,laptops 992px and up)
$desktop-width:1200px; // Extra large devices (large desktops, 1200px and up)