@import 'variables';
@import 'mixins';
@import 'admin';
@import 'reset';
@import 'steps';

//google fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:100,300,400,500,600,700&display=swap');

body {
    background: url(../img/bodybg.png)repeat 0 0;
    @include sitefont;

    .fgreen {
        color: green;
    }

    .fgray {
        color: $gray;
    }

    .fthin {
        font-weight: 100;
    }

    .flight {
        font-weight: 300;
    }

    .fmed {
        font-weight: 500;
    }

    .fsbold {
        font-weight: 600;
    }

    .fbold {
        font-weight: 700;
    }

    .small {
        font-size: $fsize - 3!important;
    }

    .fred {
        color: $red;
    }
    .tred{
        color:red;
    }

    .fgreen {
        color: green;
    }

    .fblue {
        color: $blue;
    }

    .whitebox {
        background: $white;
        padding: 15px;
        @include shadow-center;
    }

    .darkgray {
        color: lighten($black, 50%);
    }


    a {
        @include transition;
        color: $black;

        &:hover {
            text-decoration: none;
            color: $red;
        }
    }

    //whit ebtn
    .whitebtn {
        @include borderradius;
        border: 1px solid $gray;
        padding: 3px 15px 7px 15px;
        color: $gray !important;
        margin: 0 5px;
        font-size: $fsize;
        background: $white;


        .value {
            background: $red;
            margin: 0 3px;
            border-radius: 50%;
            color: $white;
            display: inline-block;
            width: 25px;
            height: 25px;
            font-size: $fsize - 2;
            line-height: 22px;
        }


        .icomoon {
            color: $gray;
            font-size: 18px;
            margin: 2px 5px;
            float: left;
        }

        &:hover {
            background: $red;
            border: 1px solid $red;
            color: $white !important;

            .icomoon {
                color: $white;
            }

            .value {
                background: $white;
                color: $red;
            }
        }
    }

    //redbtn
    .redbtn {
        @include borderradius;
        border: 1px solid $red;
        background: $red;
        color: $white !important;
        @include transition;
        border: 1px solid transparent;
        font-size: $fsize;
        padding: 3px 15px 7px 15px;
        line-height: 28px;
        height:38px;


        .icomoon {
            color: $white;
            font-size: 20px;
        }

        &:hover {
            background: $white;
            border: 1px solid $red;
            color: $red !important;

            .icomoon {
                color: $white;
            }
        }
    }

    .btnsmall {
        line-height: inherit !important;
    }

    .disabled {
        background: $gray;
        color: $black !important;

        &:hover {
            background: $gray;
            border: 1px solid $gray;
        }
    }

    .btnxl {
        height: 45px !important;

    }

    //black button
    .blackbtn {
        @include borderradius;
        border: 1px solid $black;
        padding: 3px 18px 3px 18px;
        background: $black;
        color: $white;

        font-size: $fsize;

        &:hover {
            background: $red;
            color: $white;
            border: 1px solid $red;
        }
    }
}

.fixed-theme {
    background: $white;
    @include shadow-bottom;

    .navbar-brand {
        img {
            width: 165px !important;
        }
    }
}

//header
header {
    @include transition;

    .navbar-collapse {
        justify-content: space-around;
    }

    .navbar {
        width: 80%;
        margin: 0 auto;
        padding: 0;

        .navbar-brand {
            img {
                width: 200px;
                @include transition;
            }
        }

        .nav-item {
            .nav-link {
                color: lighten($black, 50%);
                font-size: $fsize + 1;
                line-height: $fsize + 4;
                padding: 4px 12px 7px 12px;

                @include mob {
                    padding: 10px 12px;
                }

                &:hover {
                    border-bottom: 2px solid $red;
                }
            }
        }

        .active {
            .nav-link {
                border-bottom: 2px solid $red;
            }
        }

        .rtnav {

            .nav-item {
                @include mob {
                    margin: 5px 0;
                }
            }

            .nav-link {

                font-size: $fsize + 1;
                height: 36px;
                line-height: 25px;

                &:hover {
                    color: $red !important;
                }

                @include mob {
                    height: auto;
                }
            }
        }

        .dropdown-menu {
            right: 0;
            left: inherit;
            top: 30px;
            @include shadow-bottom;
            border: none;
            border-radius: 0;

            .dropdown-item {
                font-size: $fsize - 1;

                &:hover {
                    background: $red;
                    color: $white;
                }
            }
        }
    }

    .navbar-toggler {
        @include mob {
            border: 1px solid $red !important;

            .icomoon {
                color: $red;
            }
        }
    }

    .search-header {
        min-width: 600px;
        padding: 15px;

        input[type="text"] {
            background: $white;
            border: 1px solid $gray;
            height: 50px;
            padding-left: 15px;
            width: 80%;

            &:focus {
                box-shadow: none;

            }
        }

        input[type="submit"] {
            border-radius: 0;
            text-transform: uppercase;
        }

        ::placeholder {
            font-size: $fsize - 1;
            color: lighten($gray, 10%);
        }

        .fred {
            font-size: $fsize - 2;
        }
    }
}


//header ends 
.title-row {
    border-bottom: 1px solid $gray;
    padding: 5px 0;
    margin: 10px 0;

    h2 {
        font-size: $fsize + 4;
        text-transform: uppercase;
        color: $black;

        a {
            @extend .whitebtn;
            font-size: $fsize - 1;
            margin-left: 15px;
            display: inline-block;
            padding: 5px 18px 7px 18px !important;

            &:hover {
                color: $white !important;
            }
        }
    }
}

.custom-slick {
    .slick-arrow {
        height: 1px;
        text-indent: -100000px;
        border: none;
        background: none;
        display: none;

        &:focus {
            outline: none;
        }
    }

    .slick-prev {
        &:before {
            content: "\f104";
            font-family: 'icomoon' !important;
            top: -55px;
            position: absolute;
            right: 50px;
            font-size: 20px;
            color: $gray;
            background: $white;
            border: 1px solid $gray;
            width: 45px;
            text-align: center;
            height: 36px;
            line-height: 33px;
            text-indent: 0;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 0;
            @include transition;

            @include mob {
                top: -7px;
                z-index: 99;
            }
        }

        &:hover {
            &:before {
                content: "\f104";
                background: $red;
                color: $white;
                border: 1px solid $red;
            }
        }
    }

    .slick-next {
        &:before {
            content: "\f105";
            font-family: 'icomoon' !important;
            top: -55px;
            position: absolute;
            right: 0;
            font-size: 20px;
            color: $gray;
            background: $white;
            border: 1px solid $gray;
            width: 45px;
            text-align: center;
            height: 36px;
            line-height: 33px;
            text-indent: 0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 0;
            @include transition;

            @include mob {
                top: -7px;
                z-index: 99;
            }
        }

        &:hover {
            &:before {
                content: "\f105";
                background: $red;
                color: $white;
                border: 1px solid $red;
            }
        }
    }
}

//main
main {
    padding-top: 0;
    min-height: 300px;

    //slider
    .slider-section {
        background: url(../img/sliderbg.png)repeat 0 0;
        min-height: 450px;
        padding: 140px 0 50px 0;

        @include mob {
            padding: 25px 0;
        }

        .slider-right {
            h1 {
                font-size: $fsize * 3 - 3;
                @extend .fthin;

                @include mob {
                    font-size: $fsize * 2;
                }
            }

            .search-section {
                background: $white;
                @include borderradius;
                border: 1px solid $gray;
                height: 58px;
                margin: 40px 0;
                padding: 5px;
                position: relative;

                .icomoon {
                    font-size: 23px;
                    top: 10px;
                    position: relative;
                    right: 15px;
                }


                input[type=text] {
                    height: 43px;
                    border: none;
                    width: 90%;
                    padding-left: 25px;
                    @include borderradius;

                    @include mob {
                        width: 68%;
                    }

                    &:focus {
                        outline: none;
                    }
                }

            }
        }

        .slider-bancol {
            background: $white;
            display: block;
            width: 100%;
            @include shadow-center;
            @include transition;
            box-shadow: none;

            &:hover {

                .h5 {
                    opacity: 1;
                    margin-top: -10px;
                }
            }


            img {
                width: 100%;
                position: relative;
                @include transition;
            }

            .h5 {
                padding-bottom: 15px;
                @include transition;
                position: relative;
            }

            @include mob {
                padding: 10px 0;
                margin: 5px 0;
                height: auto;
                width: 100%;
            }

            &:hover {
                span {
                    font-size: $fsize + 2;
                    display: block;
                    color: $black;
                }

                .icomoon {
                    font-size: 70px;

                    &:before {
                        background: $black;
                        color: $white;
                    }
                }
            }

            span {
                font-size: $fsize + 2;
                border-radius: 50%;
                display: block;
                @include transition;

                @include mob {
                    font-size: $fsize - 2 !important;
                }
            }

            .icomoon {
                font-size: 70px;
                margin-bottom: 20px;
                width: 100px;
                height: 100px;
                margin: 10px auto;
                background-image: radial-gradient(black, gray);
                line-height: 100px;
                @include transition;

                &:before {
                    background: $white;
                    padding: 9px;
                    color: $red;
                    border-radius: 50%;
                    @include transition;
                }

                @include mob {
                    font-size: 40px !important;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .slick-dots {
        display: none !important;
    }

    //slider ends
    .catgories-home {
        .slide {
            min-height: 320px;

            @include mob {
                height: 230px;
                min-height: auto;
            }

            img {
                height: 230x;
                margin-bottom: 15px;
                width: 100%;
                @include objectfit;
                @include transition;

                @include mob {
                    height: 180px;
                }
            }

            .sltitle {
                padding: 10px 0;
                text-align: center;
                color: $black;
                font-size: $fsize + 5;
                @include transition;
            }

            &:hover {
                .sltitle {
                    background: $red;
                    color: $white;
                }

                img {
                    filter: grayscale(100%);
                    transform: scale(1.05);
                }
            }
        }
    }

    //brands
    .brands-home {
        .slick-arrow {
            &:before {
                display: none;
            }
        }

        .slick-dots {
            display: none !important;
        }

        .slide {
            @include transition;

            img {
                opacity: 1;
                @include transition;

            }

            &:hover {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }

    //brands ends



    //about
    .homeabout {
        article {
            width: 90%;
            margin: 0 auto;

            h3 {
                font-size: $fsize * 3;
            }

            .chairman-col {
                .pic {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid $red;
                }
            }
        }
    }

    //about ends 

    //home services
    .home-services {
        padding: 50px 0;
        position: relative;
        min-height: 500px;

        h5 {
            font-size: 25px;
            padding: 15px 0;
            line-height: 35px;
        }


        .resp-accordion {
            @include mob {
                padding: 15px;
                border-bottom: 1px solid $gray;
            }
        }

        &:before {
            content: '';
            background: url(../img/servicestools-img.jpg)no-repeat left center;
            width: 368px;
            height: 604px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0.1;

            @include mob {
                background: none;
            }
        }

        .resp-tabs-list {
            position: relative;

            li {
                text-align: right;
                font-size: $fsize + 2;
                margin-right: 25px;
                position: relative;
                background: none !important;
                @include transition;
                border-bottom: 3px solid lighten($gray, 20);
            }

            .resp-tab-active {
                color: $red;
                border-bottom: 3px solid $black !important;
            }
        }

        .resp-tab-content {
            padding-left: 50px;
            padding-right: 0;

            @include mob {
                padding-left: 15px;
                padding-right: 15px;
            }

            h4 {
                font-size: $fsize + 2;
                color: $red;
                @extend .fsbold;
            }

            h5 {
                font-size: $fsize * 2;
                @extend .fthin;
                padding-bottom: 10px;
            }

            a {
                @extend .redbtn;
            }
        }

        .resp-vtabs {
            display: flex !important;
            align-items: center;
        }

        .rtimg {
            padding-right: 0;
        }
    }

    //home services ends 

    //home testimonials
    .testimonials-home {
        padding: 20px 0;

        .test-col {
            margin: 20px 0;

            figure {
                img {
                    width: 57px;
                    height: 57px;
                    border-radius: 50%;
                    margin: 0 auto;
                }
            }

            h5 {
                font-size: $fsize + 2;
            }

            .small {
                line-height: $fsize + 6;

            }
        }
    }

    //home testimonials ends 

    //mechanics and wereckers section

    .mechanics-section {
        background: lighten($gray, 29%);
        padding: 30px 0;

        @include mob {
            .resp-accordion {
                text-align: center;
                font-size: $fsize;
                border-bottom: 1px solid $gray;
            }
        }

        .btn {
            @extend .blackbtn;
        }

        .mechcol {
            a {
                display: block;
                padding: 15px;

                &:hover {
                    @include shadow-center;
                    background: $white;
                }

                p {
                    text-align: center !important;
                }
            }
        }

        .resp-tabs-list {
            margin-bottom: 20px;

            li {
                background: none !important;
                text-transform: uppercase;
                line-height: 26px;
            }

            .resp-tab-active {
                @extend .redbtn;
                background: $red !important;
                color: $white !important;
                border: none !important;

                &:hover {
                    color: $white !important;
                }
            }
        }
    }

    //mechanics and wreckers section ends 

    .review-rating {
        li {
            padding: 0 3px;

            .icomoon {
                color: $gray;
            }

            .select {
                color: $green;
            }
        }
    }
}

//main ends 

//footer 
footer {
    background: $white;
    @include shadow-top;

    .map-thumb {
        img {
            width: 150px;
        }
    }

    .footer-links {
        li {
            a {
                font-size: $fsize - 1 !important;
            }
        }
    }

    @include mob {
        margin-left: 8px;
    }

    h6 {
        @extend .fmed;
        font-size: $fsize + 6;
        padding-bottom: 15px;

        @include mob {
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }

    .icomoon {
        background: $red;
        padding: 10px;
        color: $white;
        display: inline-block;
        border-radius: 50%;
    }

    p {
        line-height: $fsize + 8;
    }

    .bottom-footer {
        background: $red;
        padding: 15px 0;
        color: $white;

        .fb {
            &:hover {
                background: #4464b1;
            }
        }

        .twi {
            &:hover {
                background: #4e9edd;
            }
        }

        .link {
            &:hover {
                background: #2697cf;
            }
        }

        .nav {
            .nav-item {
                .nav-link {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    text-align: center;
                    display: inline-block;
                    margin: 0 5px;
                    padding: 8px 12px;

                    &:hover {

                        color: $white;

                        .icomoon {
                            color: $white;
                        }
                    }

                    .icomoon {
                        font-size: 20px;
                        background: none;
                        padding: 0;
                    }
                }
            }
        }
    }

    .movetop {
        width: 45px;
        height: 45px;
        background: $white;
        color: $red;
        bottom: 5px;
        right: 10px;
        border-radius: 50%;
        text-align: center;
        line-height: 18px;
        position: fixed;
        border: 1px solid transparent;
        padding: 12px;
        display: none;
        @include shadow-center;

        &:hover {
            background-color: darken($red, 25%);
            color: $white;
        }
    }
}

//footer ends 

//sign page 
.sign-section {
    background: url(../img/logincarimg.png)no-repeat center right;
    padding: 100px 0;

    .signcol {
        min-height: 200px;
        @include shadow-center;
        background: $white;
        border-radius: 15px;
        padding: 25px 40px;

        .form-group {
            padding: 0 10px;
            min-height: 60px;
            border: 1px solid lighten($gray, 20%);
            position: relative;
            margin-bottom: 10px;

            label {
                font-size: $fsize - 2;
                text-transform: uppercase;
                @extend .fmed;
            }

            .form-control {
                width: 90%;
                border: none;
                padding: 0;
                height: 30px;

                &:focus {
                    outline: none;
                    border: none;
                    box-shadow: none;
                }
            }

            .icomoon {
                font-size: $fsize + 2;
                position: absolute;
                top: 26px;
                right: 20px;
                color: $gray;
            }

            input::placeholder {
                font-size: $fsize - 1;
                color: lighten($gray, 5%);

            }
        }

        .redbtn {
            font-size: $fsize + 2;
            @include transition;
            border-radius: 0;
        }
    }



    .title-login {
        font-size: $fsize + 6;
        padding-bottom: 15px;
        text-align: center;
    }
}

.or {
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        background: $gray;
        position: absolute;
        top: 15px;
        left: 0;
    }

    span {
        background: $white;
        position: relative;
        padding: 3px;
    }
}

//sign page 

//social
.socialbtn {
    padding: 6px 15px;
    color: $white;
    text-align: center;
    width: 48%;
    border: 1px solid transparent;


}

.fbbtn {
    background: #3b558b;

    &:hover {
        border: 1px solid #3b558b;
        color: #3b558b !important;
        background: none;
    }
}

.googlesocial {
    background: #ea634e;

    &:hover {
        border: 1px solid #ea634e;
        color: #ea634e !important;
        background: none;
    }
}

//mixin mobile

@include mob {
    .xs-text-center {
        text-align: center !important;
    }

    footer {
        .bottom-footer {
            .nav {
                justify-content: center;
                padding-bottom: 25px;
            }
        }
    }
}

//sub pages styles 

.subpage {
    padding-top: 85px;


    //title header 
    .pagetitle {
        // background: url(../img/pagetitle-bg.png)no-repeat right center;
        background-color: $red;
        min-height: 60px;
        padding-top: 15px;

        .row {
            justify-content: center;
            text-align: center;
        }

        h1 {
            font-size: $fsize + 6;
            text-transform: uppercase;
            color: $white;
            @extend .fbold;

        }
    }

    //header title ends 

    //sub page body 
    .subpage-body {
        padding: 50px 0;
        min-height: 500px;

        p {
            padding-bottom: 20px;
            text-align: justify;
            line-height: $fsize + 8;
        }

        .form-group {
            position: relative;
            margin-bottom: 20px;

            &:hover {
                .label {
                    background: $red;
                    color: $white;

                    span {
                        color: $white;
                    }
                }
            }

            .label {
                background: lighten($gray, 25%);
                padding: 0 10px 3px 10px;
                font-size: $fsize - 2;
                position: absolute;
                top: -12px;
                line-height: $fsize + 6;
                right: 5px;
                @include transition;
                z-index: 99;


                span {
                    color: red;
                }
            }

            .form-control {
                min-height: 44px;
                border-radius: 0;
                border: 1px solid $gray;
                font-size: $fsize - 1;
                @include shadow-center;


                &:focus {
                    box-shadow: 0 0 8px $gray;
                    border: 1px solid $gray;
                }
            }
        }

        .custom-control-label::before {
            top: 10px;
        }

        .custom-control-label::after {
            top: 10px;
        }

        ::placeholder {
            color: $gray;
            font-size: $fsize - 1;
        }
    }

    .custom-file-upload {
        label {
            min-width: 182px;
            text-align: center;
        }

        .icomoon {
            font-size: $fsize + 4;
            color: $gray;
        }
    }

    .custom-file-upload input[type="file"] {
        display: none;
    }

    .custom-file-upload .custom-file-upload1 {
        border: 1px dashed #ccc;
        display: inline-block;
        padding: 12px;
        cursor: pointer;
    }

    #displayCarDetails {
        display: none;
    }

    .return-product {
        h2 {
            font-size: $fsize + 6;
            @extend .fmed;
        }

        p {
            font-size: $fsize - 1;
            line-height: $fsize + 6;
            padding-top: 10px;
            color: lighten($black, 50%);
            padding-bottom: 20px;

        }
    }

    .carcol {
        h3 {
            font-size: $fsize + 2;
            padding-bottom: 15px;
        }

        h4 {
            font-size: $fsize + 4;
        }
    }

    .product-det {
        h5 {
            font-size: $fsize + 4;
            padding: 12px 0;
        }
    }

    .orderrow {
        border-bottom: 1px solid lighten($gray, 20%);
        margin: 20px 0;

        h2 {
            font-size: $fsize + 2;
        }

        p {
            font-size: $fsize - 1;
            text-align: left;
            line-height: $fsize + 5;
            padding: 10px 0;

        }
    }

    //subscription 
    .subscription-col {
        padding: 20px 20px 40px 20px;
        border: 1px solid lighten($gray, 20%);
        min-height: 680px;
        border-radius: 10px;
        @include transition;

        &:hover {
            @include shadow-center;
            box-shadow: 0 0 10px $gray;
        }


        .icomoon {
            font-size: $fsize * 3;
            color: $red;
        }

        .subscribe-title {
            font-size: $fsize * 2 + 5;
            @extend .fbold;
            color: $red;
            padding: 15px 0;
        }

        p {
            font-size: $fsize - 1;
            color: lighten($black, 40%);
            line-height: $fsize + 8;
        }

        h3 {
            font-size: $fsize + 2;
        }

        table {
            margin: 20px 0;

            td {
                padding: 7px;
                font-size: $fsize - 1;
                color: lighten($black, 40%);
                line-height: $fsize + 8;

                .icomoon {
                    color: $red;
                    font-size: $fsize + 2;
                }
            }
        }

    }

    .left-task {
        padding: 20px;
        border: 1px solid lighten($gray, 20%);
        background: lighten($gray, 25%);
        height: 800px;
        overflow-y: auto;

        .expired-request {
            opacity: 0.6;
            cursor: inherit !important;

            &:hover {
                box-shadow: none !important;
            }
        }

        //request col 
        .request-col {
            background: $white;
            padding: 15px;
            min-height: 100px;
            cursor: pointer;
            @include transition;
            width: 100%;

            &:hover {
                @include shadow-center;
            }


            h2 {
                font-size: $fsize + 2;
            }

            .address-block {
                p {
                    color: $black;
                    font-size: $fsize - 2;
                    line-height: 20px;
                    text-align: left;
                    padding-bottom: 0;
                }

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    float: right;
                }
            }

            .datesel {
                font-size: $fsize - 2;
            }
        }

        //request call ends       

        .requestactive {
            @include shadow-center;
        }
    }

    //request right 
    .task-right {
        background: lighten($gray, 25%);
        padding: 20px;
        height: 800px;
        overflow-y: auto;

        .value-col {
            background: $white;
            padding: 20px;
            min-height: 130px;
            @include shadow-center;

            h4 {
                font-size: $fsize * 2;
                @extend .fbold;

                span {
                    background: $red;
                    color: $white;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    padding: 10px;
                    display: inline-block;
                    line-height: 25px;
                    text-align: center;
                }
            }

            h5 {
                font-size: $fsize + 2;
                @extend .fbold;
                padding: 15px 0 0 0;
            }
        }

    }

    //task detail
    .task-detail {
        .whitebox {
            margin-bottom: 20px;
        }

        .progressbar {
            counter-reset: step;
            overflow: hidden;
            margin-bottom: 25px;
        }

        .progressbar li {
            list-style-type: none;
            width: 33.3%;
            float: left;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;

        }

        .progressbar li:before {
            width: 30px;
            height: 30px;
            content: counter(step);
            counter-increment: step;
            line-height: 25px;
            border: 2px solid #7d7d7d;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
            z-index: 99;
            position: relative;
        }

        .progressbar li:after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background-color: #7d7d7d;
            top: 15px;
            left: -50%;
            z-index: 1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: green;
        }

        .progressbar li.active:before {
            border-color: #55b776;
            background: $green;
            color: $white;
        }

        .progressbar li.active+li:after {
            background-color: #55b776;
        }

        .user-pic {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            @include shadow-center;
        }

        .social-row {
            a {
                padding: 0 7px;
                display: inline-block;
                @include transition;

                .icomoon {
                    color: $gray;
                    font-size: $fsize + 6;
                }

                &:hover {
                    .icomoon {
                        color: $red;
                    }
                }
            }

            p {
                margin-top: -8px;
            }
        }

        .task-slick {

            .slider {
                margin: 0 2px;

                img {
                    height: 110px;
                    width: 100%;
                    @include objectfit;
                }
            }

            .slick-next:before {
                top: 64px;
                border-radius: 0;
            }

            .slick-prev:before {
                top: 64px;
                right: inherit;
                left: 0;
                z-index: 999;
                border-radius: 0;
            }
        }
    }

    //task detail ends 

    //product list 
    .cat-list {
        .nav-link {
            padding-left: 0;
            border-bottom: 1px solid $gray;
        }
    }

    .spanlink {
        li {
            padding: 0 !important;

            a {
                background: lighten($gray, 20%);
                color: $black;
                font-size: $fsize - 2;
                margin: 1px;
                padding: 1px 10px;
                display: inline-block;

                &:hover {
                    background: $red;
                    color: $white;
                }
            }
        }
    }

    //product list ends

    .product-col {
        border: 1px solid lighten($gray, 20%);
        padding: 12px;
        margin-bottom: 15px;
        position: relative;
        min-height: 150px;

        &:hover {
            @include shadow-center;

            .addcartbtn {
                opacity: 1;
                margin-top: 0;
            }

            .price {
                opacity: 0;
            }
        }

        .discount {
            position: absolute;
            background: $red;
            padding: 0 3px;
            color: $white;
            top: -10px;
            left: -10px;
            font-size: $fsize - 2;
        }

        .wish {
            position: absolute;
            background: $red;
            padding: 0 5px;
            color: $white;
            top: -10px;
            right: -10px;
            font-size: $fsize - 2;
            display: inline-block;
        }

        article {
            h5 {
                a {
                    text-transform: uppercase;
                }
            }

            .addcartbtn {
                @include transition;
                opacity: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 99;
            }
        }
    }

    .value-highanddown {


        .value-button {
            display: inline-block;
            border: 1px solid #ddd;
            margin: 0px;
            width: 40px;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            padding: 3px 0;
            background: #eee;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            &:hover {
                cursor: pointer;
            }
        }

        #decrease {
            margin-right: -4px;
            border-radius: 8px 0 0 8px;
        }

        #increase {
            margin-left: -4px;
            border-radius: 0 8px 8px 0;
        }

        #input-wrap {
            margin: 0px;
            padding: 0px;
        }

        #number {
            text-align: center;
            border: none;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            margin: 0px;
            width: 40px;
            height: 40px;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    //product detail
    .detail-table {
        tr {
            td {
                padding: 5px;
            }
        }
    }

    .qstn-form {
        padding: 20px;
        background: lighten($gray, 28%);
    }

    #qstnForm {
        display: none;
    }

    .tabrow {
        padding: 15px 0;

        .parentHorizontalTab {
            .resp-tabs-list {
                border: 1px solid lighten($gray, 20%);
            }

            .resp-tab-active {
                background: $black !important;
                color: $white;
            }

            .resp-tabs-container {
                border: 1px solid lighten($gray, 20%) !important;
                margin-top: -1px;
            }

            .form-control {
                border: 1px solid lighten($gray, 20%) !important;
            }
        }
    }

    //product dertail ends  
}

.resp-tabs-container {
    min-height: 500px;
}

//sub page body ends 

.slide {
    margin: 0 1px !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    // -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

i {
    cursor: pointer;
}

.form-review {
    display: none;
}

.related-products {
    padding-top: 50px;
}

.table-cart {
    table {
        td {
            padding: 10px;
            vertical-align: middle;
        }

        th {
            padding: 10px;
        }
    }
}

.thumb {
    width: 60px;
}



//responsive tables
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;

    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr {
        border: 1px solid #ccc;
    }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;

    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
	Label the data
	*/
    #no-more-tables td:before {
        content: attr(data-title);
    }
}

.list-items {
    padding-top: 10px;

    li {
        line-height: 20px;
        padding-bottom: 15px;

        &:before {

            content: "\f00c";
            padding: 0 10px 0 0;
            color: $red;
            font-family: 'icomoon' !important;
        }
    }
}

.table-contact {
    tr {
        td {
            padding: 10px;

            .icomoon {
                color: $red;
            }
        }
    }
}

.cust-accord {




    h3 {
        font-weight: 500;
        font-size: $fsize + 2;

        &:hover {
            color: $red;
        }
    }

    .panel-title {
        a {
            border-bottom: none;
            display: block;
            padding: 1.25em 0;
            position: relative;
            text-decoration: none;
            -webkit-transition: color 200ms ease 0s;
            -moz-transition: color 200ms ease 0s;
            transition: color 200ms ease 0s;
            width: 100%;
            font-weight: normal;
            border-top: 1px solid #ccc;
        }

        &:first-child {
            a {
                border: none;
            }
        }
    }

    .panel-title a .icon {
        color: #000;
        position: absolute;
        right: 0;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        font-size: 20px;
    }

    .panel-title a:hover,
    .panel-title a:focus {
        color: $red;
    }

    .panel-title a:hover .icon,
    .panel-title a:focus .icon {
        color: $red;
    }

    .panel-title a.active {
        color: $red;
    }

    .panel-title a.active .icon {
        color: $red;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .js .accordion {
        border-bottom: 1px solid $gray;
        margin: 2em 0;
    }

    .accordion .panel-title a {
        border-top: 1px solid $gray;
    }

}

.blog-extra {
    padding-top: 10px;

    span.extraspan {
        font-size: $fsize - 2;
        color: $gray;
        padding: 0 20px 0 0;
        display: inline-block;
    }
}

.user {
    text-align: center;

    img {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        margin-bottom: 10px;
        @include shadow-center;
    }
}

.user-body {
    background: #f8f9fd;
}

.user-navigation {

    .collapse {
        a {
            &:before {
                content: "\f105";
                font-family: 'icomoon' !important;
                position: relative;
                left: -10px;
            }
        }
    }

    a {
        padding: 5px 20px;
        width: 100%;
        display: block;

        .fa {
            float: right;
            margin-top: 8px;
        }

        &:hover {
            background: $red;
            color: $white;
        }
    }

    .active-usernav {
        background: $red;
        color: $white;
        @include shadow-bottom;
    }
}

//user right 
.user-rightcol {
    padding: 25px !important;
    @extend .whitebox;


    .db-pagetitle {
        padding-bottom: 25px;
    }

    .col01 {
        .icon {
            background: $green !important;
        }

        span {
            color: $green;
        }
    }

    .col02 {
        .icon {
            background: $blue !important;
        }

        span {
            color: $blue;
        }
    }

    .col03 {
        .icon {
            background: $red !important;
        }

        span {
            color: $red;
        }
    }

    .col04 {
        .icon {
            background: $darkblue !important;
        }

        span {
            color: $darkblue;
        }
    }


    .dbcol {
        background: $white;
        width: 100%;
        padding: 15px;
        text-align: center;
        @include shadow-center;
        min-height: 110px;
        border-radius: 10px;
        @include transition;
        margin-bottom: 50px;

        &:hover {
            margin-top: -20px;
        }

        .icon {
            background: none;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin: -35px auto 0 auto;
            border-radius: 5px;

            .icomoon {
                font-size: 20px;
                color: $white;
            }
        }

        p {
            color: lighten($black, 60%);
            padding-bottom: 5px;
            font-size: $fsize - 1;
        }
    }

    .userproduct {
        border-bottom: 1px solid #ccc;
        background: $white;
        @include shadow-center;
        padding: 15px;
        margin-bottom: 15px;

        .primarydetails {
            li {
                h6 {
                    font-size: $fsize + 2;
                    color: $black;
                    padding-bottom: 5px;
                }

                p {
                    color: lighten($black, 60%);
                }
            }
        }

        .imgproduct {
            img {
                border: 1px solid #ccc;

            }
        }
    }

    .profilepic {
        width: 85px;
        border-radius: 50%;
        @include shadow-center;
    }
}

//user right ends 


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}



.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

//custom radio
.container-new {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container-new input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: $gray;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-new:hover input~.checkmark {
    background-color: $gray;
}

/* When the radio button is checked, add a blue background */
.container-new input:checked~.checkmark {
    background-color: $red;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-new input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-new .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.smallcol {
    figure {
        img {
            height: 100%;
            margin-top: 7px;
        }
    }

    h5 {
        font-size: $fsize + 2;
        padding-bottom: 6px;

        a {
            color: $black;

            &:hover {
                color: $red;
            }
        }
    }

    p {
        font-size: $fsize - 2 !important;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
        line-height: $fsize + 4;
    }
}

.outofstock {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;

    img {
        width: 100px;
    }
}

.price {
    padding-left: 5px;

    .fred {
        font-size: $fsize + 10;
    }

    .oldprice {
        color: $gray;
        text-decoration: line-through;
        padding: 0 10px;
    }
}

.priceold {
    color: $gray;
    text-decoration: line-through;
    padding: 0 10px;
}

.pricenew {
    font-size: $fsize + 5;
    color: $red;
    @extend .fbold;
}

.addstosmallcol {
    padding-top: 6px;

    li {

        &:last-child {
            a {
                &:after {
                    content: '';
                    padding: 0;
                }
            }
        }

        a {
            font-size: $fsize - 1;
            color: $black;

            &:hover {
                color: $red;
            }

            &:after {
                content: '|';
                padding: 0 14px;
            }

            .icomoon {
                font-size: $fsize + 3;
                margin-right: 5px;
            }
        }
    }
}

.primarydetails {
    padding: 15px 0 10px 0;

    h6 {
        color: $black;
        font-size: $fsize + 1;
    }

    p {
        color: lighten($black, 60%);
    }
}

//order status 
.ord-status {
    padding: 40px 25px 35px 25px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;

    .barcol {
        width: 32.5%;
        position: relative;

        i {
            font-size: 9px;
            color: #579624;
        }

        a {
            line-height: 8px;
            position: absolute;
            top: 0;
            left: 0;
        }

        a.delivered {
            right: 0;
            left: inherit;
        }

        .sttext {
            font-size: 14px;
            position: absolute;
            top: -25px;
            left: -8%;
        }

        .deliveredst {
            right: -10%;
            left: inherit;
        }

        .barstrip {
            position: relative;
            background: #83c44e;
            width: 100%;
            height: 9px;
        }

        &:first-child {
            .barstrip {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }

        &:last-child {
            .barstrip {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    .circle {
        width: 10px;
        height: 10px;
        background: $black;
        display: block;
        border-radius: 50%;
    }

    .process {
        background: $gray !important;
    }
}

//order status ends

.addresscol {
    padding: $fsize;
    min-height: 348px;

    a {
        color: $black;
        margin-right: 10px;

        .icomoon {
            font-size: 16px;
            padding-right: 5px;
        }
    }
}

#cart-dropdown {
    &:hover {
        color: $white !important;
    }
}

.cart-dropdown {

    .dropdown-item {
        border-bottom: 1px dashed $gray;

        :last-child {
            border-bottom: none !important;
        }

        &:hover {
            background-color: lighten($red, 90%);

            span {
                color: $white;
            }
        }

        img {
            width: 65px;
        }

        article {
            padding-left: 10px;
        }
    }
}

.search {
    .nav-link {
        &:hover {
            text-decoration: none !important;
            border: none !important;
            color: lighten($gray, 35%);
        }
    }
}

.features {
    width: 90%;
    margin: 0 auto;
    min-height: 500px;

    .leftfeatures {
        background: url(../img/site-library-img.png)no-repeat top right;
        min-height: 560px;
        position: relative;

        .sliderdiv {
            width: 188px;
            height: 406px;
            position: absolute;
            top: 90px;
            right: 12px;
            border-radius: 20px;
            overflow: hidden;

            &:before {
                content: '';
                width: 194px;
                height: 20px;
                top: -1px;
                left: 0;
                position: absolute;
                background: url(../img/fringe.png) no-repeat center 0;
                background-size: auto 16px;
            }

            .sliderdiv-in {
                background: url(../img/letter-for-mobile.jpg) no-repeat 0 0;
                width: 188px;
                height: 406px;
                background-size: cover;
                border-radius: 20px;
                animation: MoveUpDown 60s infinite;
            }

            @keyframes MoveUpDown {
                0% {
                    background-position-y: top;
                }

                50% {
                    background-position-y: bottom;
                }

                100% {
                    background-position-y: top;
                }
            }
        }
    }

    article {
        width: 75%;
        padding-left: 5%;

        h2 {
            font-size: $fsize * 3;
            // font-family:'Times New Roman', Times, serif
        }

        h4 {
            font-size: $fsize + 10;
            padding: 15px 0;
            line-height: 35px;
            color: lighten($black, 50);
        }

        p {
            font-size: $fsize + 2;
            padding-bottom: 15px;
        }

        a {
            padding-bottom: 7px;
        }
    }
}

.move-left {
    transition: all 0.5s ease-in;
    animation: moveright 1s;
    position: relative;
}


@keyframes moveright {
    0% {
        left: 50px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes moveright {
    0% {
        left: 50px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

.move-right {
    transition: all 0.5s ease-in;
    animation: moveleft 1s;
    position: relative;
}


@keyframes moveleft {
    0% {
        right: 50px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}

@-webkit-keyframes moveleft {
    0% {
        right: 50px;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}


.list-aggregate li {
    padding: 0;

    img {
        transition: all 0.2s ease;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.list-aggregate li a {
    color: #fff;
    font-size: 14px;
    line-height: 36px;
}

.list-aggregate li a:hover {
    color: #fff
}

.list-aggregate li p {
    color: #fff;
}

.list-aggregate li:before {
    content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #fff;
}

.fat-l {
    float: left;
}

.hightlate {
    background: $blue;
    color: $white;
}

.final-budget {
    background: $blue;
    padding: 15px;
    width: 100%;
    color: $white;

    small {
        font-size: $fsize;
    }
}

.graybox {
    background: lighten($red, 75%);
}

.getpaidsecurely {
    .icomoon {
        font-size: $fsize *4;
    }
}


section.range-slider {
    position: relative;
    width: 300px;
    min-height: 100px;
    text-align: center;
}

section.range-slider input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 14px;
    background: #F1EFEF;
    box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
    overflow: hidden;
    left: 0;
    top: 50px;
    width: 300px;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
}

section.range-slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dad8da), color-stop(100%, #413F41));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, #dad8da 0, #413F41 100%);
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
}

section.range-slider input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 14px;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
}

section.range-slider input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    border: 0;
    background-image: linear-gradient(to bottom, #dad8da 0, #413F41 100%);
    /* W3C */
}

section.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0;
}

section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
    border: 0;
}

.toptaskslick {
    margin-top: -45px;
}

.qandans .resp-tabs-list .active {
    font-weight: bold;
}

.custom-control-label {
    line-height: 24px;
}

.cust-tab {
    .resp-tabs-list {
        position: relative;

        li {
            text-align: right;
            font-size: $fsize + 2;
            margin-right: 25px;
            position: relative;
            background: none !important;
            @include transition;
            border-bottom: 3px solid lighten($gray, 20);
        }

        .resp-tab-active {
            color: $red;
            border-bottom: 3px solid $black !important;
        }
    }
}

.navsearch {
    background: #f8f9fa;
    position: fixed;
    z-index: 999;
    top: 80px;
    width: 100%;
    @include shadow-bottom;

    .dropdown-menu {
        min-width: 270px;

        label {
            font-size: $fsize - 2;
        }

        .form-control {
            @extend .roundedinput;
        }
    }

}

.roundedinput {
    border-radius: 25px !important;
}

.taskdetail-container {
    padding-top: 65px;
}

.budgetblock {
    padding: 15px;
    border: 1px solid $gray;
    border-radius: 10px;
    margin-bottom: 20px;

    .table {
        td {
            font-size: $fsize - 1;
            text-align: left !important;
            padding: 0;
        }
    }
}

#showreply {
    textarea {
        padding-bottom: 25px;
    }

    .attach {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 999;

        .icomoon {
            font-size: $fsize + 3;
        }
    }
}

.thumbimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatsection {
    .graychat {
        background: $blue;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: $white;
    }

    .whitechat {
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        color: $black;
    }

    .row {
        margin: 10px 0;
    }

    .textarea {
        padding-bottom: 25px;
    }

    .attach {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 999;

        .icomoon {
            font-size: $fsize + 3;
        }
    }
}

.textarea-chat {
    margin-top: 20px;
}

.modal {
    .form-control {
        min-height: 40px;
        border-radius: 0;
    }

    ::placeholder {
        font-size: $fsize - 2;
    }
}


.profile {
    .profile-coverbg {
        width: 100%;
        background: url(../img/profile-coverbg.jpg)no-repeat 0 0;
        min-height: 300px;
        background-size: cover;
        position: relative;

        &:before {
            content: '';
            width: 100%;
            height: 150px;
            background: $black;
            opacity: 0.5;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    .profile-header {
        margin-top: -150px;

        .profile-left {
            text-align: center;

            .profile-pic {
                width: 250px;
                border-radius: 50%;
                margin-bottom: 15px;
                margin: 0 auto;
            }

            .details {
                padding-top: 20px;

                p {
                    color: $gray;
                    font-size: $fsize + 1;
                    text-align: left;
                    border-bottom: 1px dashed $gray;
                    margin-bottom: 10px;
                    text-align: center;

                    span {
                        color: $black;
                        @extend .fbold;
                        padding-left: 10px;
                    }
                }
            }
        }

        .profile-right {
            position: relative;
            z-index: 99;

            article {
                padding-top: 50px;
            }

            h2 {
                font-size: $fsize * 3;
                color: $white;
            }

            .h4 {
                color: $white;
            }

            .profile-content {
                padding-top: 50px;
            }

            .user-pic {
                width: 65px;
                height: 65px;
            }

            .review-col {
                border-bottom: 1px dashed $gray;
            }

        }
    }
}

//profile styles ends 

.tag {
    background: $black;
    padding: 3px 10px;
    color: $white;
    margin: 2px;
    display: inline-block;
    // float:left;
}

//request col 
.request-col {
    background: $white;
    padding: 15px;
    min-height: 100px;
    cursor: pointer;
    @include transition;
    width: 48%;
    float: left;
    border: 1px solid $gray;
    margin: 5px;

    &:hover {
        @include shadow-center;
    }


    h3 {
        font-size: $fsize + 2;
        color: $black;
    }

    .address-block {
        p {
            color: $black;
            font-size: $fsize - 2;
            line-height: 20px;
            text-align: left;
            padding-bottom: 0;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            float: right;
        }
    }

    .datesel {
        font-size: $fsize - 2;
    }
}

//request call ends   

.wallet {
    .dropdown-item {
        font-size: $fsize - 1;

        &:hover {
            background: $blue;
            color: $white;
        }
    }
}

.choosewallet {
    .selectpay {
        background: $black !important;
        color: $white !important;
    }
}

.select-payment {
    .icomoon {
        font-size: $fsize + 10;
    }

    &:hover {
        .icomoon {
            @extend .fgreen;

        }
    }
}

.payment-filters {
    .radio-inline {
        padding-right: 15px;
    }
}

.blacktitle {
    background: $black;
    color: $white;
    padding: 10px;
}

.table-cart {
    .table {
        td {
            vertical-align: top;
        }
    }
}

.select-payment {
    margin-bottom: 10px;

    .list-group-item {
        &:hover {
            background: $blue;


            a {
                color: $white;
            }
        }

    }

    .select-card {
        background: $blue;


        a {
            color: $white;
        }
    }
}

.payment-details{
	.accordion{
		.panel-title{
			a{
				padding:12px 0;
                border:none!important;
                display:flex;                
			}
		}
		.cardicon{
			font-size:$fsize + 5;
			color:$blue;
		}
	}
}

.editcard-details{
    padding:25px 0;
}

#editcard-details{
    display:none;
}



/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

 .bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    width: 100%;
    line-height: 22px;
    cursor: text;
  }
  .bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
  }
  .bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
  }
  .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
  }
  .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
  }
  .bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
  }
  .bootstrap-tagsinput .badge {
    margin: 3px;
    padding:5px 8px 8px 8px;
    background:$blue;
    border-radius:15px;
    font-size:$fsize -2;
    font-weight:normal;

  }
  .bootstrap-tagsinput .badge [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
  }
  .bootstrap-tagsinput .badge [data-role="remove"]:after {
    content: "×";
    padding: 0px 4px;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius:50%;
    font-size:13px
  }
  .bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  
    background-color:rgba(0, 0, 0, 0.62);}
  .bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
  
  .tt-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background-clip: padding-box;
      cursor: pointer;
  }
  
  .tt-suggestion {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #333333;
      white-space: nowrap;
  }
  
  .tt-suggestion:hover,
  .tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color:$blue;
  }

  .savedarticles{
      border:1px solid $gray;
      padding:5px;
      overflow:hidden;
     li{
        float: left;
        background: #05a7f8;
        padding: 1px 5px 5px 5px;
        margin: 3px;
        color: #ffffff;       
        font-size: 13px;

         .icomoon{
             background:darken($blue, 10%);
             padding:3px;
             cursor: pointer;
             
         }
         
     } 
  }

  .attach-textearea{
      position:relative;

      .attachicon{
          position:absolute;
          bottom:15px;
          left:15px;

          .icomoon{
              font-size:$fsize + 10;
              color:$blue;
          }
      }

  }

  .save-search-form{
      position:relaative;
      width:75%;
      .input-group{
          .form-control{
            padding-left:45px;
            @include transition;


            &:focus{                
                border:1px solid #ccc!important;
                background:#eee;
            }
          }
          .icomoon{
              left:20px;
              bottom:13px;
              z-index:99;
              color:$gray;
          }
      }

      .search-auto{
          background:$white;
          box-shadow:0 0 25px $gray;
          min-height:250px;
          padding:15px;
          position:absolute;
          top:43px;
          right:0;
          width:100%;
         

          .h6{
              font-size:$fsize;
          }
          .prelinks{
              a{
                  padding:2px 10px 5px 10px;
                  background:$white;
                  color:$black;
                  border:1px solid $gray;

                  &:hover{
                      background:$blue;
                      color:$white;
                      border:1px solid $blue;
                  }                  

              }
          }
          .recent-searches{
              li{
                  border-bottom:1px dashed $gray;
                  margin-bottom:5px;
                  .titleli{
                      &:hover{
                          color:$blue;
                      }
                  }
              }
          }
      }
  }

  .div-search{
      min-width:500px;
  }

  #search-auto{
      display:none;
  }

  .report-body{
      .resp-tab-content{
          padding-left:0!important;
      }
  }

  .report-body{
    .cust-accord{
        .panel-title{
            a{
                border-top:none;
            }
        }
    }
  }

  .inventory-search-filters{
      padding-bottom:20px;
      a{
          font-size:13px;
          text-transform: uppercase;
          padding:0 15px;
          display:inline-block;
          border:1px solid $gray;
          border-radius:25px;
          color:$gray;
          margin-right:10px;
          @include shadow-center;
          
      }
  }

  .in-db{
      .icomoon{
          right:10px;
          top:13px;
          color:$gray;
          z-index: 999;
      }
  }


